CHAT_MODEL_URL=http://localhost:15721
CHAT_MODEL_KEY=cc_switch
# MODEL_NAME=deepseek-v4-flash
MODEL_NAME=glm-5-2-260617
TAVILY_KEY=tvly-dev-***

# Mongodb
MONGODB_URI=mongodb://localhost:27017
DB_NAME=checkpointing_db

# postgressql
POSTGRES_URL=postgresql://name:password@localhost:5432/postgres

# langsmith
#LANGSMITH_API_KEY=lsv2_pt_***
#LANGSMITH_TRACING=true
# project name
#LANGSMITH_PROJECT=lc-course
